 {% extends "base.html" %}

{% block detail %}
 <div class="panel panel-primary">
    <div class="panel-heading">
        <h2 class="panel-title">{{ issue.titile }} <span class="badge pull-right">Created by&nbsp;{{issue.created_by}} at {{issue.created_date | date:"y-m-d"}}&nbsp;</span></h2>
    </div
    <div class="panel-body">
                 <h3> {{ issue.description }} </h3>
     </div>
    <div class="panel-footer">
        <ul class="list-group">
        {% for solution in solutions%}
         <li class="list-group-item">
            <h4 class="list-group-item-heading">
                {{forloop.counter}}
                <span class="glyphicon glyphicon-comment" aria-hidden="true"> </span>
            </h4>
            <p class="list-group-item-text">
                {{ solution.content }}
                <br />
                <span class="badge pull-right">
                    Resolved by&nbsp; {{ solution.resolved_by }} at {{solution.resolved_date | date:"y-m-d"}}&nbsp;
                    Rate: {{ solution.rate }}
                </span>
            </p>
            </li>
        {% endfor %}
         </ul>
       <form action="{% url 'add_solution' issue.id %}" method="post" class="form-horizontal">
            {% csrf_token %}
                <div class="form-group has-success">
                    <div class="col-sm-12">
                        <textarea class="form-control" rows="5" placeholder="Please add your solution" name="new_solution"></textarea>
                    </div>
                </div>
            <input type="submit" class="btn btn-primary btn-lg " value="Add" />
        </form>
    </div>
</div>

{% endblock %}
